.App {
  text-align: center;
}
a{
  text-decoration: none;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-image: url('https://i.ytimg.com/vi/bMxgJbCgPQQ/maxresdefault.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
}

.Matthew{
  width: 322px;
  height: 322px;
  border-radius: 532px;
  border: solid grey;
  margin-top: 92px;

}
.title{
  color: white;
  margin-top: 72px;
  font-family: Baskerville ;
  font-weight: none;
  
  
}
.name{
  color: white;
  font-size: x-large;
}
.psPLus{
  width: 22px;

}
.nameContainer{
  display: flex;
  align-items: center;
  margin-left: 755px;
}


.time{
  color: white;
}
.search{
  width: 22px;
  height: 22px;
}

.games{
  height: 41px;
  border-radius: 12px;
  cursor: pointer;
  color: white;
  font-size: x-large;
}
.games:hover{
  color: #61dafb;

}
.media{
  height: 41px;
  border-radius: 12px;
  cursor: pointer;
  color: white;
  background-color: black;
}
.media:Hover{
  color: #61dafb;
}
.square{
  height: 170px;
  border-radius: 22px;
  margin: 1em;
  border-color: silver;
  cursor: pointer;
  
}
.square:hover{
  border: solid silver;
  border-width: 4px;
  height: 300px;
}

.squareBar{
  /* border: solid red; */
  display: flex;
  margin: 1em;
  margin-top: 32px;

}
.languages{
  border-radius: 22px;
  width: 452px;
  height: 50%;
  margin-right:433px ;

  
}
.html{
  color: white;
  margin-right: 422px;
}
.contactContainer{
  /* border: solid blue; */
  display: flex;
  align-items: center;
  margin-left: 322px;
  margin-top: 122px;

}
.pic{
  border-radius: 122px;
}
.text{
  display: flex;
  color: white;
  margin-left: 122px;
  
}
.reactPic{
  width: 222px;
  border-radius: 52px;
}
.sub{
  /* border: solid red; */
  display: flex;
  justify-content:space-between;
  width: 100%;
  margin-top: 42px;
  
  
}
.sub2{
  /* border: solid blue; */
  display: flex;
  justify-content: space-around;
  width: 222px;
}
.sub3{
  /* border: solid green; */
  display: flex;
  justify-content: space-around;
  width: 122px;
  margin-right: 22px;
}
.settings{
  border: solid blue;
  
}
.gear{
  background-color: white;
  width: 22px;
  height: 22px;
}

.Ultimate{
  /* border: solid yellow; */
  display: flex;
}
.matt{
  width: 22px;
   border-radius: 22px;
}
.matt:hover{
  width: 44px;
}
.mvb{
  width: 20%;
}
.multiBar{
  display: flex;
  align-items: center;
  margin-left: 322px;
  margin-top: 122px;

}
.copy{
  color: white;
}
.hub{
  color: white;
}
.misk{
  width: 20%;
  border-radius: 50px;
}
.spaceContainer{
  display: flex;
  align-items: center;
  margin-left: 322px;
  margin-top: 122px;

}
.codeContainer{
  /* display: flex;
  align-items: center; */
  
  margin-top: 122px;
}
.code{
  color: white;
}

.quote{
  color: white;
}





